<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tune2Score{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    {% include 'header.html' %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

    <script src="/static/js/auth-status.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>